<!-- <nav class="navbar-brand navbar-fixed-bottom" style="background-color: white">
  <div class="container">
    <ul class="list-inline">
      <li><a href="/" style="color: #777" id="bottom_nav_home">Home</a></li>
      <li><a href="/robotregistry" style="color: #777" id="bottom_nav_index">Robot Index</a></li>
      <li><a href="/robotregistry/new" style="color: #777" id="bottom_nav_new">New Robot</a></li>
    </ul>
  </div>
</nav> -->


<div class='nav navbar-default container-fluid navi'>
  <a href='/' class='nav navbar-text navbar-left navi'>Back to Dashboard</a>
  <ul class='nav navbar-right navbar-nav'>
    <li class='navi'><a href="/robotregistry">Registry</a></li>
    <li><a href="/robotregistry/new">Register a new Robot</a></li>
  </ul>
</div>
