<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Dashboard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/robotregistry">Registry</a></li>
      <li><a href="/robotregistry/new">Register new robot</a></li>
    </ul>
  </div>
</nav>
