<h1>Registration!</h1>
<form class="registration-form" action="/robotregistry/new" method="post">
  <ul>
    NAME: <li><input type="text" name="robot[name]" value=""><br></li>
    CITY: <li><input type="text" name="robot[city]" value=""><br></li>
    STATE: <li><input type="text" name="robot[state]" value=""><br></li>
    OPERATIONAL_DATE: <li><input type="text" name="robot[operational]" value=""><br></li>
    WEAPONS: <li><input type="text" name="robot[weapons]" value=""><br></li>
    MILITARY_BRANCH:<li><input type="text" name="robot[branch]" value=""><br></li>
    <input type="submit" id="submit">
  </ul>
</form><div class="registration"><div class="registration-box"></div></div>
